html {
    height: 100%;
    overflow-x: hidden;
}

body {
    color: #333;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    flex-flow: column;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-style: normal !important;
    overflow-y: hidden;
}

.esri-popup__footer {
    visibility: hidden !important;
    height: 0px !important;
    padding: 0px !important;
}

.esri-popup__button {
    padding: 5px 4px !important;
    margin: 4px 0 !important;
}

.modal {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10000;
}

.modal .buttons {
    height: 100%;
    min-height: 60px;
    box-sizing: content-box;
    margin-top: 15px;
    ;
}

.modal-screen {
    max-width: 450px;
    background-color: white;
    padding: 28px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
}

.modal-button {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #999;
    width: 48%;
    float: left;
    min-height: 60px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.gap {
    width: 4%;
    height: 100%;
    float: left;
    min-height: 60px;
}

.modal-counter {
    font-size: 55pt;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.legend {
    visibility: visible;
    min-width: 170px;
    width: auto;
    height: auto;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 3px #0f4256;
    z-index: 10000000;
    padding: 10px;
}

.legend-items {
    margin-top: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 15% 85%;
}

.item {
    display: flex;
    font-size: 0.7em;
    color: #333;
    padding: 5px;
    height: 10px;
    align-items: center;
    justify-content: left;
    white-space: nowrap;
}

.sym {
    align-items: center;
    justify-content: center;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.two-column {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.header {
    flex: 0;
    padding: 20px 20px 20px;
    border-bottom: 1px solid black;
}

.info-panel {
    padding: 10px 10px 10px 10px;
    width: 300px;
}

.holder {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#group-search {
    width: 98%;
    margin-right: 2%;
}

.def {
    flex: 0;
    border-bottom: 2px solid #0f4256;
    padding-bottom: 20px;
    width: 100%;
    margin-right: 10px;
}

#group-list {
    overflow-y: auto;
    flex: 1 1 0;
    padding: 0px 10px 0px 0px;
    min-height: 150px;
}

.group-container {
    padding: 10px 5px;
    background-color: rgba(0, 0, 0, 0.03);
    margin-top: 4px;
    cursor: pointer;
}

.group-container:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

input {
    box-shadow: 2px 2px #0f4256;
}

.group-container.clicked {
    border: 1px solid #0f4256;
    box-shadow: 2px 2px #0f4256;
}

.group-text {
    width: 80%;
    margin: auto;
}

#group-title {
    font-weight: bold;
    color: #333;
}

#group-sep {
    border: none;
    height: 1px;
    color: #0f4256;
    background-color: #0f4256;
    margin: 5px;
}

p {
    margin: 0;
}

.left-panel {
    padding-top: 20px;
    overflow-y: hidden;
    animation-duration: 1s;
}

.right-panel {
    position: relative;
    flex-grow: 1;
}

#formDiv {
    height: 100%;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#group-list {
    padding: 0px;
}

.intro-text {
    font-size: 0.8rem;
}

.hover-up {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #777;
}

#button {
    cursor: pointer;
}

.close {
    position: absolute;
    right: 15px;
    top: 3px;
    cursor: pointer;
}

.paperwork {
    padding: 10px;
    padding-bottom: 15px;
    top: 250px;
    left: 120px;
    position: absolute;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
}

.page {
    visibility: visible;
}

.mobile {
    visibility: hidden;
    height: 0px;
}

.hidden {
    visibility: hidden;
}

.note {
    font-size: 0.8em;
    margin-bottom: 5px;
    margin-top: 5px;
}

.visible {
    visibility: visible;
}

img {
    width: 70px;
}

.logo-holder {
    padding: 5px;
    width: auto;
    float: left;
}

.text-holder {
    margin-left: 10px;
}

.head-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.two-column {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.header {
    flex: 0;
    padding: 30px 45px 30px;
    border-bottom: 1px solid black;
}

iframe {
    border: 0px none;
}

h2 {
    margin-top: 0px !important;
    margin-bottom: 5px;
    color: #0f4256;
    text-shadow: 1px 1px #999;
}

.button {
    display: flex;
    height: 45px;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 9pt;
    cursor: pointer;
    box-shadow: 3px 3px #0f4256;
    border: 1px solid #0f4256;
    max-width: 300px !important;
}

.content {
    font-weight: bold;
    color: #0f4256;
    margin: auto;
    pointer-events: none;
}

.edit-button {
    text-align: center;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 10px;
    font-size: 9pt;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    box-shadow: 3px 3px #0f4256;
    border: 1px solid #0f4256;
}

.mini {
    visibility: hidden;
}

@media only screen and (max-width: 960px) {
    html,
    body {
        overflow-y: hidden;
    }
    .two-column {
        flex-direction: column!important;
        flex-grow: 1!important;
    }
    #formDiv {
        border-bottom: #333;
    }
    .header {
        padding: 5px;
    }
    .head-content {
        margin-bottom: 0px;
    }
    .right-panel {
        width: 100% !important;
        height: 40%!important;
    }
    .left-panel {
        padding-top: 0px!important;
        width: 100% !important;
        height: 0px;
    }
    #viewDiv {
        margin-top: 0px !important;
    }
    #add-group {
        margin: 5px auto!important;
    }
    .info-panel {
        height: auto !important;
        flex-grow: 1!important;
        max-width: 100vw!important;
        width: 100%;
        padding: 0px;
    }
    .holder {
        width: 100% !important;
        padding: 5px 10px;
        box-sizing: border-box;
    }
    .def {
        box-sizing: border-box;
        padding-bottom: 10px;
    }
    .def .note {
        visibility: hidden;
        height: 0px;
    }
    #group-search {
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    h2 {
        text-align: left;
        font-size: 16px;
        align-items: left;
        text-shadow: 1px 1px #999;
    }
    h3 {
        font-size: 12px;
        margin: 5px 0px;
    }
    .page {
        visibility: hidden;
        height: 0px;
    }
    .mini {
        visibility: visible;
    }
    .legend {
        visibility: hidden;
    }
    .mobile {
        visibility: visible;
        height: auto;
        font-size: 11px;
    }
    img {
        width: 35px;
    }
}